:root {
  font-size: 16px;

  /* Base colors */
  --primary-surface: #fff;
  --secondary-surface: #ebebfc;
  --inner-letter: #000;
  --iced-surface: #f5f5fa;
  --gray-300: #c3c3c3;
  --gray-400: #afafaf;
  --gray-500: #9b9b9b;

  /* Primary colors */
  --primary-100: #6363db;
  --primary-300: #4f4fb9;
  --primary-700: #32325f;

  --tries-color: #e8891c;

  --success-fill: #e1f5ec;
  --success-border: #03ab4f;
  --wrong-fill: #ffcf62;
  --wrong-border: #691b0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--iced-surface);
  font-family: 'Noto Sans', sans-serif;
}

button {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}
